menu "03 MOTOR CONFIG"
            menu "01 PWM CONFIG"
                source "$(PROJECT_ROOT)/driverframework/L2_device/03_MOTOR/01_pwm_no_hal/Kconfig"
            endmenu
            
            menu "02 DSHOT CONFIG"
                source "$(PROJECT_ROOT)/driverframework/L2_device/03_MOTOR/02_dshot/Kconfig"
            endmenu
endmenu

