
menu "Enable 14 USB CONFIG"
        if SOC_FAMILY_AT32
                menuconfig BSP_USING_USBOTG
                        bool "Enable AT32 USB BUS"
                        default n
                        if BSP_USING_USBOTG
                                menuconfig BSP_USING_USBOTG1
                                        bool "Enable AT32 USB BUS1"
                                        default n
                                        if BSP_USING_USBOTG1
                                                config BSP_USING_DEVICE_USBOTG1
                                                        bool "Enable AT32 USB1 Deivce"
                                                        select RT_USING_USB_DEVICE
                                                        default n

                                                config BSP_USING_HOST_USBOTG1
                                                        bool "Enable AT32 USB1 Host"
                                                        select RT_USING_USB_HOST
                                                        default n
                                        endif

                                menuconfig BSP_USING_USBOTG2
                                        bool "Enable AT32 USB BUS2"
                                        default n
                                        if BSP_USING_USBOTG2
                                                config BSP_USING_DEVICE_USBOTG2
                                                        bool "Enable AT32 USB2 Deivce"
                                                        select RT_USING_USB_DEVICE
                                                        default n

                                                config BSP_USING_HOST_USBOTG2
                                                        bool "Enable AT32 USB2 Host"
                                                        select RT_USING_USB_HOST
                                                        default n
                                        endif
                        endif
        endif

        if !SOC_FAMILY_AT32
                menuconfig BSP_USING_USBD
                        bool "Enable STM32 USB CONFIG"
                        select RT_USING_USB_DEVICE
                        default n
        endif
endmenu


