menuconfig PROJECT_MINIFLY_TASK_NRF_EN
    bool "ENABLE: PROJECT_MINIFLY_TASK_NRF_EN"
    default n
    help
       open nrf task
    if PROJECT_MINIFLY_TASK_NRF_EN
        config TASK_MINIFLY_TASK_NRF_DEVICE_DEFAULT
        string "the default of send device"
        default "uart2"
        help
            "the default of send device"

        config TASK_MINIFLY_TASK_NRF_BAUD_RATE
        int "the baud rate of send device"
        default 1000000
        help
            "the baud rate of send device"
    endif
