config BSP_USING_MPU6000
    bool "Enable MPU6000 IMU Sensor"
    default n
    select BSP_USING_SPI
    help
        Enable MPU6000 IMU sensor support
        
    if BSP_USING_MPU6000
        config SENSOR_NAME_MPU6000
            string "IMU MPU6000 NAME FOR TASK FIND"
            default "mpu6000"
        config SENSOR_MPU6000_ACC_RANGE_G
            int "IMU MPU6000 ACC FULL-SCALE (g)"
            default 8
            range 2 16
            help
                Accelerometer full-scale range in g. Typical values: 2/4/8/16.
        config SENSOR_MPU6000_GYRO_RANGE_DPS
            int "IMU MPU6000 GYRO FULL-SCALE (dps)"
            default 2000
            range 250 2000
            help
                Gyroscope full-scale range in dps. Typical values: 250/500/1000/2000.
        config SENSOR_SPI_NAME_MPU6000
            string "IMU MPU6000 SPI BUS NAME"
            default "spi1"
        config SENSOR_SPI_SLAVE_NAME_MPU6000
            string "IMU MPU6000 SPI SLAVE NAME"
            default "spi10"
        config SENSOR_MPU6000_SPI_CS_PIN_NAME
            string "IMU MPU6000 SPI CS PIN NAME (e.g. PC2)"
            default "PC2"
        config SENSOR_MPU6000_SPI_MAX_HZ
            int "IMU MPU6000 SPI MAX CLOCK (Hz)"
            default 3000000
            range 100000 20000000
        config SENSOR_MPU6000_DEBUGPIN_EN
            bool "ENABLE: DEBUG PIN"
            default n
            help
                ENABLE: DEBUG PIN
    endif