    menuconfig BSP_USING_I2C
        bool "Enable I2C2 BUS (hardware)"
        default n        
        select RT_USING_I2C
        if BSP_USING_I2C
            menuconfig BSP_USING_HARD_I2C1
                bool "Enable HARD I2C1"
                default y
                if BSP_USING_HARD_I2C1
                    config BSP_I2C1_TX_USING_DMA
                        bool "Enable HARD I2C1 TX DMA"
                        default n        
                    config BSP_I2C1_RX_USING_DMA
                        bool "Enable HARD I2C1 RX DMA"
                        default n
                endif            
            menuconfig BSP_USING_HARD_I2C2
                bool "Enable HARD I2C2"
                default n
                if BSP_USING_HARD_I2C2
                    config BSP_I2C2_TX_USING_DMA
                        bool "Enable HARD I2C1 TX DMA"
                        default n        
                    config BSP_I2C2_RX_USING_DMA
                        bool "Enable HARD I2C1 RX DMA"
                        default n
                endif
        endif