menu "DriverFramework_Config"
    source "$BSP_DIR/../../driverframework/L0_task/Kconfig"
    # source "driverframework/L1_tool/Kconfig"
    source "$BSP_DIR/../../driverframework/L2_device/Kconfig"
    source "$BSP_DIR/../../driverframework/L3_config/Kconfig"
    # source "driverframework/L4_drv_new/Kconfig"
    # source "driverframework/L5_msp/Kconfig"
endmenu