menu "DriverFramework Config"
    source "$(PROJECT_ROOT)/driverframework/L0_task/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L1_middleWare/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L2_device/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/Kconfig"
endmenu