menuconfig PROJECT_MINIFLY_TASK_STABLIZE_EN
    bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_EN"
    default n
    select PROJECT_MINIFLY_TASK_SENSOR_EN
    help
        Enable stabilize task that periodically calls stabilize interface.