menuconfig PROJECT_MINIFLY_TASK_STABLIZE_EN
    bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_EN"
    default n

    select PROJECT_MINIFLY_TASK_SENSOR_EN
    select PROJECT_MINIFLY_TASK05_PARAM_EN
    select L1_MIDDLEWARE_01_MODULE_02_MATHS_EN
    select L1_MIDDLEWARE_01_MODULE_04_PID_MINIFLY_EN
    
    help
        Enable stabilize task that periodically calls stabilize interface.
        
    if PROJECT_MINIFLY_TASK_STABLIZE_EN
        config PROJECT_MINIFLY_TASK_STABLIZE_ATKP_LOG_EN
            bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_ATKP_LOG_EN"
            default n
            help
                Enable ATKP logging for the stabilize task.

            if PROJECT_MINIFLY_TASK_STABLIZE_ATKP_LOG_EN
                config PROJECT_MINIFLY_TASK_STABLIZE_LOG_FLYER_ANGLE
                    bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_LOG_FLYER_ANGLE"
                    default n
                    help
                        Enable flyer angle logging for the stabilize task.

                config PROJECT_MINIFLY_TASK_STABLIZE_LOG_ANGLE_DEBUG
                    bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_LOG_ANGLE_DEBUG"
                    default n
                    help
                        Enable angle debug logging for the stabilize task.

                config PROJECT_MINIFLY_TASK_STABLIZE_LOG_RATE_DEBUG
                    bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_LOG_RATE_DEBUG"
                    default n
                    help
                        Enable rate debug logging for the stabilize task.

                config PROJECT_MINIFLY_TASK_STABLIZE_LOG_GROUP_ANGLE
                    int "PROJECT_MINIFLY_TASK_STABLIZE_LOG_GROUP_ANGLE"
                    range 1 99
                    default 1
                    depends on PROJECT_MINIFLY_TASK_STABLIZE_LOG_ANGLE_DEBUG
                    help
                        Set the group ID for angle debug logging (1-99).

                config PROJECT_MINIFLY_TASK_STABLIZE_LOG_GROUP_RATE
                    int "PROJECT_MINIFLY_TASK_STABLIZE_LOG_GROUP_RATE"
                    range 1 99
                    default 2
                    depends on PROJECT_MINIFLY_TASK_STABLIZE_LOG_RATE_DEBUG
                    help
                        Set the group ID for rate debug logging (1-99).
            endif

        config PROJECT_MINIFLY_TASK_STABLIZE_DEBUGPIN_EN
            bool "ENABLE: PROJECT_MINIFLY_TASK_STABLIZE_DEBUGPIN_EN"
            default n
            help
                Enable debug pin for the stabilize task.

    endif