menuconfig BSP_USING_MPU6050_MINIFLY
    bool "ENANLE: IMU_MPU6050_MINIFLY"
    default n
    select BSP_USING_I2C
    if BSP_USING_MPU6050_MINIFLY
        config SENSOR_NAME_MPU6050_MINIFLY
            string "IMU MPU6050 MINIFLY NAME"
            default "mpu6050_minifly"
        config SENSOR_I2C_NAME_MPU6050_MINIFLY
            string "IMU MPU6050 MINIFLY I2C NAME"
            default "hwi2c1"
        config SENSOR_MPU6050_MINIFLY_I2C_ADDR
            int "MPU6050_MINIFLY_I2C_ADDR"
            default 0x69
    endif
    
    