menu "L2_DEVICE_CONFIG"
    source "$BSP_DIR/../../driverframework/L2_device/IMU/Kconfig"
    source "$BSP_DIR/../../driverframework/L2_device/BARO/Kconfig"

    # source "driverframework/L2_device/BARO/DPS3XX/Kconfig"
    # source "driverframework/L2_device/BARO/SPA06_003/Kconfig"
    # source "driverframework/L2_device/MAG/QMC6308/Kconfig"
    # source "driverframework/L2_device/MAG/QMC5883L/Kconfig"
    # source "driverframework/L2_device/TOF/VL53L1X/Kconfig"
    # source "driverframework/L2_device/USS/TDK_ICUx02/Kconfig"
endmenu
