menu "04 BARO CONFIG"
            menu "01 SPL16 CONFIG"
                source "$(PROJECT_ROOT)/driverframework/L2_device/04_BARO/01_SPL16_001/Kconfig"
            endmenu
            
            menu "02 SPA06 CONFIG"
                source "$(PROJECT_ROOT)/driverframework/L2_device/04_BARO/02_SPA06_003/Kconfig"
            endmenu
            
            menu "03 DPS3XX CONFIG"
                source "$(PROJECT_ROOT)/driverframework/L2_device/04_BARO/03_DPS3XX/Kconfig"
            endmenu
endmenu