menuconfig TASK_TOOL_02_SD_MLOG
    bool "ENABLE: TASK_TOOL_02_SD_MLOG"
    default n
    help
       open sd mlog task

    if TASK_TOOL_02_SD_MLOG

        config TASK_TOOL_02_SD_MLOG_TEST_THREAD
            bool "ENABLE: TASK_TOOL_02_SD_MLOG_TEST_THREAD"
            default n
            help
                enable mlog test command and functionality

        config MLOG_TEST_02_SD_MLOG_FREQ_HZ
            int "Mlog test data generation frequency (Hz)"
            depends on TASK_TOOL_02_SD_MLOG_TEST_THREAD
            default 1000
            range 1 2000
                help
                    frequency for generating test data in Hz

    endif