if BSP_USING_SPL06_001
    config SENSOR_SPL06_001_I2C_NAME
        string "SPA06_003_I2C_NAME"
        default "i2c1"

    config SENSOR_SPL06_001_DEVICE_NAME
        string "SPA06_003_device_name"
        default "spl06_001"  

    config SENSOR_SPL06_001_I2C_ADDR
        hex "SPA06_003_I2C_ADDR"
        default 0x76

    config SENSOR_SPL06_001_ID
        int "SPA06_003_I2C_ID"
        default 0
endif