menuconfig BSP_USING_MPU6500_MINIFLY
    bool "ENANLE: IMU_MPU6500_MINIFLY"
    default n
    select BSP_USING_I2C
    if BSP_USING_MPU6500_MINIFLY
        config SENSOR_NAME_MPU6500_MINIFLY
            string "IMU MPU6500 MINIFLY NAME"
            default "mpu6500_minifly"
        config SENSOR_I2C_NAME_MPU6500_MINIFLY
            string "IMU MPU6500 MINIFLY I2C NAME"
            default "hwi2c1"
        config SENSOR_MPU6500_MINIFLY_I2C_ADDR
            int "mpu6500_MINIFLY_I2C_ADDR"
            default 0x69
    endif
    
    