menuconfig L1_MIDDLEWARE_01_MODULE_05_FILTER_RPM_EN
    bool "ENABLE: L1_MIDDLEWARE_01_MODULE_05_FILTER_RPM_EN"
    default n
    depends on L1_MIDDLEWARE_01_MODULE_02_MATHS_EN
    depends on PROJECT_MINIFLY_TASK_DSHOT_EN
    help
        Enable filter module.
    