menuconfig BSP_USING_PWM
    bool "Enable 21 PWM CONFIG"
    default n
    select RT_USING_PWM
    if BSP_USING_PWM
    menuconfig BSP_USING_PWM1
        bool "Enable timer1 output PWM"
        default n
        if BSP_USING_PWM1
            config BSP_USING_PWM1_CH1
                bool "Enable PWM1 channel1"
                default n

            config BSP_USING_PWM1_CH2
                bool "Enable PWM1 channel2"
                default n

            config BSP_USING_PWM1_CH3
                bool "Enable PWM1 channel3"
                default n
        
            config BSP_USING_PWM1_CH4
                bool "Enable PWM1 channel4"
                default n
        endif
    menuconfig BSP_USING_PWM2
        bool "Enable timer2 output PWM"
        default n
        if BSP_USING_PWM2
            config BSP_USING_PWM2_CH1
                bool "Enable PWM2 channel1"
                default n

            config BSP_USING_PWM2_CH3
                bool "Enable PWM2 channel3"
                default n

        endif

    menuconfig BSP_USING_PWM4
        bool "Enable timer4 output PWM"
        default n
        if BSP_USING_PWM4
            config BSP_USING_PWM4_CH1
                bool "Enable PWM4 channel1"
                default n

            config BSP_USING_PWM4_CH2
                bool "Enable PWM4 channel2"
                default n

        endif
    endif

