config L2_DEVICE_03_MOTOR_02_DSHOT_EN
    bool "ENABLE: MOTOR 02 DSHOT"
    default n
    help
        Enable DShot motor driver support

if L2_DEVICE_03_MOTOR_02_DSHOT_EN

    config DSHOT_DEVICE_NAME
        string "DShot Device Name"
        default "dshot"
        help
            Name for the DShot device

    config DSHOT_PROTOCOL_TYPE
        string "DShot Protocol Type"
        default "dshot_600"
        help
            Select DShot protocol type
            Options: "dshot_150", "dshot_300", "dshot_600"

    config DSHOT_MOTOR_NUMS
        int "Number of DShot motors"
        range 1 8
        default 4
        help
            Number of DShot motors to control

    config DSHOT_GPIO_PORT
        string "DShot GPIO Port"
        default "GPIOB"
        help
            GPIO Port for DShot signals
            Options: GPIOA, GPIOB, GPIOC

    config DSHOT_GPIO_PIN_MOTOR1
        int "DShot Motor 1 GPIO Pin"
        range 0 15
        default 6
        help
            GPIO pin number for Motor 1

    config DSHOT_GPIO_PIN_MOTOR2
        int "DShot Motor 2 GPIO Pin"
        range 0 15
        default 7
        help
            GPIO pin number for Motor 2

    config DSHOT_GPIO_PIN_MOTOR3
        int "DShot Motor 3 GPIO Pin"
        range 0 15
        default 8
        help
            GPIO pin number for Motor 3

    config DSHOT_GPIO_PIN_MOTOR4
        int "DShot Motor 4 GPIO Pin"
        range 0 15
        default 9
        help
            GPIO pin number for Motor 4

    config DSHOT_TIMER_SELECT
        int "DShot Timer"
        range 1 11
        default 4
        help
            Timer for DShot signal generation
            1: TMR1, 2: TMR2, 3: TMR3, 4: TMR4, etc.


    config DSHOT_BI_DIRECTIONAL
        bool "Enable Bi-directional DShot"
        default y
        help
            Enable bi-directional DShot communication

    config DSHOT_PACKAGE_STATISTICS
        bool "Enable DShot Package Statistics"
        default n
        help
            Enable DShot package statistics

    config DSHOT_DEBUGPIN_EN
        bool "ENABLE: DEBUG PIN"
        default n
        help
            ENABLE: DEBUG PIN

    config DSHOT_CMD_MOTOR_EN
        bool "Enable DShot Motor Command Interface"
        default n
        help
            Enable DShot motor command interface for testing and control
            This adds 'motor' command to MSH shell

endif
    