menuconfig BOARD_CONFIG
    bool "Enable board configuration"
    default n
    help
        Enable board configuration.

if BOARD_CONFIG
    choice MCU_HSE_FREQ
        prompt "MCU HSE frequency"
        default MCU_HSE_8MHZ
        help
            Select the external high-speed oscillator (HSE) frequency.

        config MCU_HSE_25MHZ
            bool "25 MHz"

        config MCU_HSE_8MHZ
            bool "8 MHz"
    endchoice

    config HSE_VALUE
        int
        default 25000000 if MCU_HSE_25MHZ
        default 8000000 if MCU_HSE_8MHZ
        help
            Numeric value in Hz for the selected HSE frequency.
endif 

