menuconfig BSP_USING_ON_CHIP_FLASH
    bool "Enable ON-CHIP FLASH CONFIG"
    default n
    if BSP_USING_ON_CHIP_FLASH
        config L3_PERIPHERAL_USING_ON_CHIP_FLASH_AUTOSTART_FALINIT
            bool "Enable ON-CHIP FLASH AUTOSTART FALINIT"
            default n
    endif


