if BSP_USING_SPA06_003
        menuconfig SENSOR_SPA06_003_NUM1
            bool "ENABLE: SENSOR_SPA06_003_NUM1"
            default n
            if SENSOR_SPA06_003_NUM1
                config SENSOR_SPA06_003_NUM1_I2C_NAME
                    string "SPA06_003_I2C_NUM1_NAME"
                    default "hwi2c1"
                config SENSOR_SPA06_003_NUM1_DEVICE_NAME
                    string "SPA06_003_device_num1_name"
                    default "a06_03_1"  
                config SENSOR_SPA06_003_NUM1_I2C_ADDR
                    hex "SPA06_003_I2C_NUM1_ADDR"
                    default 0x76
                config SENSOR_SPA06_003_NUM1_ID
                    int "SPA06_003_I2C_NUM1_ID"
                    default 0
            endif
        menuconfig SENSOR_SPA06_003_NUM2
            bool "ENABLE: SENSOR_SPA06_003_NUM2"
            default n
            if SENSOR_SPA06_003_NUM2
                config SENSOR_SPA06_003_NUM2_I2C_NAME
                    string "SPA06_003_I2C_NUM2_NAME"
                    default "hwi2c2"
                config SENSOR_SPA06_003_NUM2_DEVICE_NAME
                    string "SPA06_003_device_num2_name"
                    default "a06_03_2"               
                config SENSOR_SPA06_003_NUM2_I2C_ADDR
                    hex "SPA06_003_I2C_NUM2_ADDR"
                    default 0x76
                config SENSOR_SPA06_003_NUM2_ID
                    int "SPA06_003_I2C_NUM2_ID"
                    default 1
            endif
    endif