config BSP_USING_ICM45686_ANY
    bool
    default y if BSP_USING_ICM45686 || BSP_USING_ICM45686_2ND

config BSP_USING_ICM45686
    bool "Enable first ICM45686 IMU Sensor"
    default n
    select BSP_USING_SPI
    select RT_USING_ULOG
    help
        Enable the first ICM45686 IMU instance.

if BSP_USING_ICM45686
    config SENSOR_NAME_ICM45686
        string "IMU ICM45686 NAME FOR TASK FIND"
        default "45686_A"

    config SENSOR_SPI_NAME_ICM45686
        string "IMU ICM45686 SPI NAME"
        default "spi2"

    config SENSOR_SPI_SLAVE_NAME_ICM45686
        string "IMU ICM45686 SPI SLAVE NAME"
        default "spi21"

    config SENSOR_ICM45686_SPI_MAX_HZ
        int "IMU ICM45686 SPI MAX CLOCK (Hz)"
        default 10000000
        range 100000 24000000

    config SENSOR_ICM45686_SPI_CS_PIN
        string "IMU ICM45686 SPI CS PIN"
        default "PB11"

    config SENSOR_ICM45686_WHOAMI_REG
        hex "ICM45686 WHO_AM_I register"
        default 0x72

    config SENSOR_ICM45686_WHOAMI_EXPECTED
        hex "ICM45686 expected WHO_AM_I value"
        default 0xE9

    config SENSOR_ICM45686_DEBUGPIN_EN
        bool "ENABLE: DEBUG PIN"
        default n
        help
            ENABLE: DEBUG PIN
endif

config BSP_USING_ICM45686_2ND
    bool "Enable second ICM45686 IMU Sensor"
    default n
    select BSP_USING_SPI
    select RT_USING_ULOG
    help
        Enable the second ICM45686 IMU instance.

if BSP_USING_ICM45686_2ND
    config SENSOR_NAME_ICM45686_2ND
        string "Second IMU ICM45686 NAME FOR TASK FIND"
        default "45686_B"

    config SENSOR_SPI_NAME_ICM45686_2ND
        string "Second IMU ICM45686 SPI NAME"
        default "spi2"

    config SENSOR_SPI_SLAVE_NAME_ICM45686_2ND
        string "Second IMU ICM45686 SPI SLAVE NAME"
        default "spi22"

    config SENSOR_ICM45686_SPI_MAX_HZ_2ND
        int "Second IMU ICM45686 SPI MAX CLOCK (Hz)"
        default 10000000
        range 100000 24000000

    config SENSOR_ICM45686_SPI_CS_PIN_2ND
        string "Second IMU ICM45686 SPI CS PIN"
        default "PB12"

    config SENSOR_ICM45686_WHOAMI_REG_2ND
        hex "Second ICM45686 WHO_AM_I register"
        default 0x72

    config SENSOR_ICM45686_WHOAMI_EXPECTED_2ND
        hex "Second ICM45686 expected WHO_AM_I value"
        default 0xE9
endif
