menuconfig TASK_TOOL_01_ANOTC_TELEM_EN
    bool "ENABLE: TASK_TOOL_01_ANOTC_TELEM_EN"
    default n
    help
       open anotc task
    if TASK_TOOL_01_ANOTC_TELEM_EN
        config TASK_TOOL_01_ANOTC_TELEM_DEVICE_DEFAULT
        string "the default of send device"
        default "uart2"
        help
            "the default of send device"

        config TASK_TOOL_01_ANOTC_TELEM_BAUD_RATE
        int "the baud rate of send device"
        default 1000000
        help
            "the baud rate of send device"
    endif
