menu "L0_TASK_CONFIG"
    source "$(PROJECT_ROOT)/driverframework/L0_task/01_demo/TASK_01_LED_BLINK/Kconfig"

    source "$(PROJECT_ROOT)/driverframework/L0_task/02_tools/TASK_01_ANOTC_TELEM/Kconfig"

    source "$(PROJECT_ROOT)/driverframework/L0_task/03_work/TASK_01_GPS_TEST/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L0_task/03_work/TASK_02_BARO_TEST/Kconfig"

    source "$(PROJECT_ROOT)/driverframework/L0_task/04_project/01_minifly/TASK_01_SENSOR/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L0_task/04_project/01_minifly/TASK_02_STABLIZE/Kconfig"
endmenu