menu "L3_PERIPHERAL_CONFIG"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/01_hseConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/02_nvicConfig/Kconfig"

    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/10_gpioConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/11_uartConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/12_i2cConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/13_spiConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/14_usbConfig/Kconfig"
    
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/20_adcConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/21_pwmConfig/Kconfig"
    source "$(PROJECT_ROOT)/driverframework/L3_peripheral/22_timConfig/Kconfig"
    

endmenu
